<section class="growing" data-element="growing">
  <div class="growing__body">
    <div class="section-header">
      <h3 class="section-header__title">Growing conditions</h3>
      <div class="growing__subtitle">
        IDEAL ALTITUDE <br/> in feet
      </div>
    </div>
    <div class="growing-mountains">
      <div class="growing-wrapper growing-wrapper__text">
        <div class="growing-mountains__text growing-mountains__text_first" data-growing-tropic-text>Tropical climate</div>
        <div class="growing-mountains__text growing-mountains__text_second" data-growing-subtropic-text>Subtropical climate</div>
      </div>

      <div class="growing-wrapper">
        <div class="growing-bean growing-bean__arabica" data-growing-arabica>
          <img class="growing__arabica" src="../img/growing/arabica.png" alt="arabica">
          <div class="growing-bean__title">Robusta beans</div>
        </div>
        <div class="growing-bean growing-bean__robusta" data-growing-robusta>
          <img class="growing__robusta" src="../img/growing/robusta.png" alt="robusta">
          <div class="growing-bean__title">Arabica beans</div>
        </div>
      </div>

      <img class="growing-mountains__item growing-mountains__item_default" src="../img/growing/mountains.png" alt="mountains"/>
      <img class="growing-mountains__item growing-mountains__item_second" data-growing-mountains-first src="../img/growing/mountains-1.png" alt="mountains"/>
      <img class="growing-mountains__item growing-mountains__item_third" data-growing-mountains-second src="../img/growing/mountains-2.png" alt="mountains"/>
    </div>

    <img class="growing__scale" src="../img/growing/scale.png" alt="scale">

    <img class="growing__cloud growing__cloud_first" src="../img/growing/cloud-1.png" alt="growing-cloud">
    <img class="growing__cloud growing__cloud_second" src="../img/growing/cloud-2.png" alt="growing-cloud">
  </div>
</section>