<section class="planting" data-element="planting">
  <div class="planting__body">
    <div class="section-header">
      <h3 class="section-header__title">Planting the seed</h3>
    </div>

    <!--HAND-->
    <img class="planting__hand" data-planting-hand src="./img/planting-seed/hand.png" alt="hand"/>
    <!--BEAN WITH HAND-->
    <div class="planting-bean" data-planting-bean></div>

    <!--circle info planting garden bed-->
    <div class="planting__circle" data-planting-circle>
      Coffee seeds are generally planted in large beds in shaded nurseries
    </div>

    <!--TOP PHASES-->
    <div class="planting-phase planting-phase_top planting-phase_top-first" data-planting-first-top-phase></div>
    <div class="planting-phase planting-phase_top planting-phase_top-second" data-planting-second-top-phase>
      <span class="planting__text" data-planting-second-text>Three months</span>
    </div>
    <div class="planting-phase planting-phase_top planting-phase_top-third" data-planting-third-top-phase>
      <span class="planting__text" data-planting-third-text>Nine months</span>
    </div>

    <!--BOTTOM PHASES-->
    <div class="planting-phase planting-phase_bottom planting-phase_bottom-first" data-planting-first-bottom-phase></div>
    <div class="planting-phase planting-phase_bottom planting-phase_bottom-second" data-planting-second-bottom-phase></div>
    <div class="planting-phase planting-phase_bottom planting-phase_bottom-third" data-planting-third-bottom-phase></div>

    <!--BOTTOM DECOR DIRT-->
    <div class="planting__dirt"></div>

    <!--NOVES CLOUDS-->
    <img class="planting__cloud planting__cloud_first" src="./img/planting-seed/cloud1.png" alt="cloud"/>
    <img class="planting__cloud planting__cloud_second" src="./img/planting-seed/cloud2.png" alt="cloud"/>
    <img class="planting__cloud planting__cloud_third" src="./img/planting-seed/cloud3.png" alt="cloud"/>
    <img class="planting__cloud planting__cloud_fourth" src="./img/planting-seed/cloud4.png" alt="cloud"/>
  </div>
</section>